/* Add mobile styles for the component here.  */
.contenedor{
    background-color:aquamarine;
    max-width: 30px;
    margin: 0 auto;
    border: 1px solid black;
}

#button{
    border-radius: 20%;
    border: 1px solid black;
}

.list-group{
    height: 250px;
}