<ActionBar class="action-bar" title="Home">
    <Label class="action-bar-title" text="Home"></Label>
</ActionBar>

<GridLayout class="page">
    <!-- Add your page content here -->
</GridLayout>

<StackLayout>
    <label for="" text="Hello" class="home">
        
    </label>

    <label for="" text="Hello" class="home">
        
    </label>

    <button  (tap)="onNavigate()"  text="click"><!--[nsRouterLink]="['/page-one']" para navegar a esta pagina con ese path page-one-->

    </button>

    <button  (tap)="onItems()"  text="Ver items"></button>


</StackLayout>